*{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
html { 
  background: url(fundo.jpeg.jpeg) no-repeat center fixed; 
  background-size: cover;
}
body{
  width: 100%;
  min-height: 100vh;
  background-color: lch(from 90deg, #b4b9b9 0%,#fc00ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 800px;
  max-width: 100%;
  overflow: hidden;
}
.header{
  background-color: #eee;
  width: 0px;
  padding: 20px 4%;
}
.header-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control{
  margin-bottom: 5px;
  display: inline-block;
}
.form input{
  background-color: rgb(245, 245, 245);
  border: 2px solid#1f9484;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form textarea{
  background-color: rgb(245, 245, 245);
  border: 2px solid#1f9484;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
.form enviar{
  background-color: rgb(245, 245, 245);
  border: 2px solid#1f9484;
  display: block;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
}
button{
  background-color: #1f9484;
    border: 2px solid  rgb(245, 245, 245);
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: .2s;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}
footer{
  margin: 3%;
}
